---
layout: splash
canvas: true
header:
  overlay_color: "#5e616c"
  overlay_image: /assets/images/mm-home-page-feature.jpg
intro:
- excerpt: '<i class="fa fa-quote-left"></i>&nbsp;致力于从原理级别理解事物的本质并通过清晰完备的表达载之共享&nbsp;<i class="fa fa-quote-right"></i>'
---

{% include feature_row id="intro" type="center" %}

<!--{% include feature_row %}-->

<img src="/assets/images/steps_forward.jpg" style="display:block;margin: 0 auto">

<script>  
    var ctx = document.querySelector("canvas").getContext("2d"),
    dashLen = 220, dashOffset = dashLen, speed = 10,
    txt = "《冯兄上书志》　逢人只说三分话，胸无点墨不可欺；化作文字纸上来，吉言句句皆斟酌。　　　　－冯兄　", x = 30, i = 0;

    ctx.font = "42px STXingkai, LiSu, Microsoft YaHei"; 
    ctx.lineWidth = 0; ctx.lineJoin = "miter"; ctx.globalAlpha = 2/3;
    ctx.strokeStyle = "#505050";
    ctx.fillStyle = "black";

    function loop() {
      ctx.clearRect(x, 25 + Math.floor(i / 8) * 60, 150, 60);
      ctx.setLineDash([dashLen - dashOffset, dashOffset - speed]); // create a long dash mask
      dashOffset -= speed;                                         // reduce dash length
      ctx.strokeText(txt[i], x, 75 + Math.floor(i / 8) * 60);                               // stroke letter

      if (dashOffset > 0) requestAnimationFrame(loop);             // animate
      else {
        ctx.fillText(txt[i], x, 75 + Math.floor(i / 8) * 60);                               // fill final letter
        dashOffset = dashLen;                                      // prep next char
        i++;
        if( i % 8 == 0 ){
            x = 30
        }else{
            x += ctx.measureText(txt[i]).width + ctx.lineWidth * Math.random();
        }
        //ctx.setTransform(1, 0, 0, 1, 0, 3 * Math.random());        // random y-delta
        //ctx.rotate(Math.random() * 0.005);                         // random rotation
        if (i < txt.length) requestAnimationFrame(loop);
      }
    };
    
    window.onload = loop;
</script> 
